body {
  background: url("../assets/images/swish-bgg-scaled.jpg");
  background-size: cover;
  background-position: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato";
}

#banner h1 {
  font-family: "Lato";
  color: #fff;
  font-size: 35px;
}
#banner p {
  font-family: "Poppins";
  color: #fff;
  font-size: 15px;
  font-weight: 100;
}

.form-methods {
  background: #fff;
  border-radius: 10px 10px;
  padding: 50px 20px 50px;
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 0 8px #0000006e;
}
.form-methods h3 {
  font-size: 20px;
  font-weight: 600;
}
.form-methods h2#amount {
  font-size: 50px;
  font-weight: 800;
  font-family: "Lato";
  color: #5d8c92;
  margin-bottom: 0;
}
.form-methods span {
  font-size: 19px;
  font-family: "Poppins";
  width: 100%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

hr#hr-background {
  width: 70%;
  border: 10px solid #5d8c92;
}

#input-number {
  width: 25%;
  margin: 0 auto;
}
#input-number input {
  padding: 20px;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
}

.lorem-comment {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.lorem-comment p {
  color: #000 !important;
}

.select-payment-method {
  padding: 0 70px;
}

.radio-checkbox {
  text-align: justify;
}
.radio-checkbox .form-check-label {
  font-family: "LATO";
  font-weight: 600;
}

#input-donation {
  width: 55%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
#input-donation .input-group-prepend {
  margin-right: -1px;
  width: 50%;
}
#input-donation input {
  padding: 20px;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
  width: 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#input-donation #donate-now {
  background: #5d8c92;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  width: 50%;
  margin: 20px auto 0 auto;
}

#second-section .child-img img {
  width: 100%;
  border-radius: 10px 10px;
}
#second-section h2#sub-heading {
  font-size: 18px;
  font-family: "Lato";
  font-weight: 600;
  margin-top: 50px;
  position: relative;
}
#second-section p#sub-parag {
  font-family: "Poppins";
  font-size: 15px;
}
#second-section .bottom-desc {
  position: relative;
  padding-top: 50px;
  background: url("../assets/images/icon-square-dots.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
  padding: 25px 50px;
}
#second-section .bottom-desc:before {
  content: "";
  height: 59px;
  top: 0;
  right: 0;
  background: url("../assets/images/symbol-L-v2.png");
  position: absolute;
  display: block;
  width: 48px;
}
#second-section .bottom-desc:after {
  content: "";
  height: 59px;
  left: 0;
  bottom: 0;
  background: url(../assets/images/symbol-L.png);
  position: absolute;
  display: block;
  width: 48px;
}

.current-amount span.count {
  font-size: 50px !important;
}

/* progress bar */
.progress__bar {
  background: #5d8c92 !important;
}

.progress {
  width: 74%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* acf form */
#personal-info input {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 20px;
}

.acf-fields.acf-form-fields.\- {
  column-count: 2;
}

.acf-label, #message, #donation_amount {
  display: none;
}

@media only screen and (max-width: 1199px) {
  #input-number input {
    padding: 10px;
  }

  #input-donation {
    width: 70%;
  }
}
@media only screen and (max-width: 991px) {
  #input-donation {
    width: 85%;
  }

  #input-number {
    width: 35%;
  }
}
@media only screen and (min-width: 769px) {
  #input-number {
    width: 35%;
  }

  .form-methods span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  #input-number {
    width: 50%;
  }

  .lorem-comment {
    width: 100%;
  }

  .select-payment-method {
    padding: 0;
  }

  #input-donation {
    width: 100%;
  }

  #second-section .child-img {
    margin-bottom: 2rem;
  }

  .form-methods {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  #input-donation {
    width: 75%;
  }
}
@media only screen and (max-width: 426px) {
  #input-donation #donate-now {
    width: 73%;
  }
}

/*# sourceMappingURL=custom.css.map */
